/****************************************************************************************
 *                                                                                      *
 *                                   НАСТРОЙКИ САМОЙ ПАНЕЛИ                             *
 *                                                                                      *
 ****************************************************************************************/
* {
	border: none;                                              /* Убираем рамку у всех элементов */
}
  
window#waybar {
    background-color: transparent;                           /* Прозрачный фон для самой панели */
}
  

/****************************************************************************************
 *                                                                                      *
 *                                   Общие настройки для модулей                        *
 *                                                                                      *
 ****************************************************************************************/

#pulseaudio,
#network,
#clock,
#language,
#tray,
#power-profiles-daemon,
#custom-swaync,
#custom-power,
#systemd-failed-units,
#custom-pacman 

{
    font-family: 'Neuropol','JetBrainsMono NF';                /* Шрифт */
    font-size: 1.5rem;                                         /* Размер шрифта */
    background-color: #26263f;                               /* Цвет фона */
    font-weight: bold;                                         /* Жирность шрифта */
    box-shadow: none;                                          /* Убираем тень */
    color: #00ffcc;                                          /* Цвет текста */
}
  
/****************************************************************************************
 *                                                                                      *
 *                                     РАБОЧИЕ ПРОСТРАНСТВА                             *
 *                                                                                      *
 ****************************************************************************************/



#workspaces {
    font-family: 'Neuropol','JetBrainsMono NF';                /* Шрифт */
    border-radius: 0rem 0rem 9rem 0rem;                        /* Скругление углов */
    margin: 0rem 0rem  0rem  0rem;                             /* Внешние отступы */
    padding: 0rem 2rem 0rem 0rem;                              /* Внутренние отступы */
    transition: all 0.3s ease;                                 /* Плавный переход для анимаций */
    background-color: #26263f;                               /* Цвет фона */
    font-weight: bold;                                         /* Жирность шрифта */
}

#workspaces button label {
    font-size: 1.3rem;                                         /* Размер шрифта для меток кнопок */
}

#workspaces button {
    color: #00ffcc;                                          /* Цвет иконки/текста */
    border-radius: 1rem;                                       /* Скругление углов */
    margin: 0rem 0.5rem;                                       /* Внешние отступы */
}


#workspaces button.active {
    color: #280a6d;                                          /* Цвет текста активного рабочего пространства */
    border-radius: 0.3rem;                                     /* Скругление углов */
    background-color: #d6d6a5;                               /* Цвет фона активного рабочего пространства */
}

#workspaces button:hover {
    color: #280a6d;                                          /* Цвет текста при наведении */
    border-radius: 0.3rem;                                     /* Скругление углов */
    background-color: #d6d6a5;                               /* Цвет фона при наведении */

 }
	
#workspaces button.urgent {                                    /* Стили для "срочного" рабочего пространства (например, с уведомлением) */
}
  

/****************************************************************************************
 *                                                                                      *
 *                                     Обновление                                       *
 *                                                                                      *
 ****************************************************************************************/

#custom-pacman {
    margin: 0rem 0rem 0rem 5rem;                               /* Внешние отступы */
    padding: 0rem 2rem 0rem 2rem;                              /* Внутренние отступы */
    border-radius: 0rem 0rem 1.5rem 1.5rem;                    /* Скругление углов */
}

  
/****************************************************************************************
 *                                                                                      *
 *                                     Часы                                             *
 *                                                                                      *
 ****************************************************************************************/

 #clock {
    margin: 0rem 0rem;                                         /* Внешние отступы */
    padding: 0.7rem 2rem 0.5rem 2rem;                          /* Внутренние отступы */
    border-radius: 0rem 0rem 2rem 2rem;                        /* Скругление углов */
    font-size: 1.7rem;                                         /* Размер шрифта */
}


/****************************************************************************************
 *                                                                                      *
 *                                     Ошибки SystemD                                   *
 *                                                                                      *
 ****************************************************************************************/

 #systemd-failed-units {
    margin: 0rem 9rem 0rem 0rem;                               /* Внешние отступы */
    padding: 0.3rem 4rem 0rem 4rem;                            /* Внутренние отступы */
    border-radius: 0rem 0rem 2rem 2rem;                        /* Скругление углов */
}




/****************************************************************************************
 *                                                                                      *
 *                                     ТРЕЙ                                             *
 *                                                                                      *
 ****************************************************************************************/

 #tray {
    margin: 0rem 5rem 0rem 0rem;                               /* Внешние отступы */
    padding: 0rem 2rem 0rem 2rem;                              /* Внутренние отступы */
    border-radius: 0rem 0rem 1.5rem 1.5rem;                    /* Скругление углов */
}
 


/****************************************************************************************
 *                                                                                      *
 *                                     ЯЗЫК ВВОДА                                       *
 *                                                                                      *
 ****************************************************************************************/

 #language {
    border-radius: 0rem 0rem 0rem 9rem;                        /* Скругление углов */
    padding: 0rem 0rem 0rem 1rem;                              /* Внутренние отступы */
    min-width: 4rem;                                           /* Минимальная ширина */
}


/****************************************************************************************
 *                                                                                      *
 *                                   ВИДЖЕТ ЗВУКА                                       *
 *                                                                                      *
 ****************************************************************************************/

#pulseaudio {
    border-radius: 0rem 0rem 0rem 0rem;                        /* Скругление углов */
    padding: 0rem 1.5rem 0rem 1rem;                            /* Внутренние отступы */
}

 

/****************************************************************************************
 *                                                                                      *
 *                                     Модуль питания                                   *
 *                                                                                      *
 ****************************************************************************************/

 #power-profiles-daemon {
    border-radius: 0rem 0rem 0rem 0rem;                        /* Скругление углов */
    padding: 0rem 1rem 0rem 0.5rem;                            /* Внутренние отступы */
  }
  


/****************************************************************************************
 *                                                                                      *
 *                                     Уведомления                                      *
 *                                                                                      *
 ****************************************************************************************/

#custom-swaync {
    color: #00ffcc;                                          /* Цвет текста иконки */
    border-radius: 0rem 0rem 0rem 0rem;                        /* Скругление углов */
    padding: 0rem 1rem 0rem 1rem;                              /* Внутренние отступы */
}

#custom-swaync.notification {
    background-color: #e20b20;                               /* Цвет фона при наличии уведомлений */
    color: #ffffff;                                          /* Цвет текста при наличии уведомлений */
    border-radius: 0.5rem;                                     /* Скругление углов */
    animation: blink 1s infinite;                              /* Анимация мигания */
}

@keyframes blink {
    0% { opacity: 1; }                                         /* Начало анимации: полная видимость */
    50% { opacity: 0.3; }                                      /* Середина анимации: частичная видимость */
    100% { opacity: 1; }                                       /* Конец анимации: полная видимость */
}




/****************************************************************************************
 *                                                                                      *
 *                                 ГРУППА МЕНЮ ПИТАНИЯ                                  *
 *                                                                                      *
 ****************************************************************************************/

/* Стили для основной кнопки питания */
#custom-power {
    color: #00ffcc;                                          /* Цвет иконки */
    margin: 0rem 0rem 0rem 0rem;                               /* Внешние отступы */
    padding: 0rem 1rem 0rem 2rem;                              /* Внутренние отступы */
    border-radius: 0rem 0rem 0rem 0rem;                        /* Скругление углов */
    transition: all 0.3s ease;                                 /* Плавный переход для анимаций */
}

/* Общие стили для кнопок меню питания */
#custom-shutdown,
#custom-reboot,
#custom-logout {
    background-color: #26263f;                               /* Цвет фона */
    padding: 0rem 2rem 0rem 2rem;                              /* Внутренние отступы */
    margin: 0rem 0rem 0rem 0rem;                               /* Внешние отступы */
    transition: all 0.3s ease;                                 /* Плавный переход для анимаций */
    font-family: 'Neuropol','JetBrainsMono NF';                /* Шрифт */
    font-size: 1.5rem;                                         /* Размер шрифта */
    font-weight: bold;                                         /* Жирность шрифта */
    border-radius: 0rem 0rem 0rem 0rem;                        /* Скругление углов */
}

/* Индивидуальные настройки для кнопки выключения */
#custom-shutdown {
    color: #fc1212;                                          /* Цвет иконки (красный) */
    padding: 0rem 1.5rem 0rem 1.5rem;                          /* Внутренние отступы */
}

/* Индивидуальные настройки для кнопки перезагрузки */
#custom-reboot {
    color: #f7db07;                                          /* Цвет иконки (желтый) */
    padding: 0rem 1.5rem 0rem 1.5rem;                          /* Внутренние отступы */
}

/* Индивидуальные настройки для кнопки выхода */
#custom-logout {
    color: #65f342;                                          /* Цвет иконки (зеленый) */
    padding: 0rem 1.5rem 0rem 1.5rem;                          /* Внутренние отступы */
}

/* Эффекты при наведении на кнопку выключения */
#custom-shutdown:hover {
    background-color: #fc1212;                               /* Цвет фона при наведении */
    border-radius: 0.3rem;                                     /* Скругление углов */
    color: #000000;                                          /* Цвет текста при наведении */
}

/* Эффекты при наведении на кнопку перезагрузки */
#custom-reboot:hover {
    background-color: #f7db07;                               /* Цвет фона при наведении */
    border-radius: 0.3rem;                                     /* Скругление углов */
    color: #000000;                                          /* Цвет текста при наведении */
}

/* Эффекты при наведении на кнопку выхода */
#custom-logout:hover {
    background-color: #65f342;                               /* Цвет фона при наведении */
    border-radius: 0.3rem;                                     /* Скругление углов */
    color: #000000;                                          /* Цвет текста при наведении */
}

/* Стили для всей группы меню */
#power-menu {
    background-color: transparent;                             /* Прозрачный фон для контейнера меню */
}