/****************************************************************************************
 *                                                                                      *
 *                                   НАСТРОЙКИ САМОЙ ПАНЕЛИ                             *
 *                                                                                      *
 ****************************************************************************************/
* {
	border: none;                    /* Убираем рамку */
	font-size: 1rem;                 /* Размер шрифта */
  }
  
  window#waybar {
  background-color: transparent;      /* Цвет фона панели */
	transition-property: background-color; /* Указываем свойство для анимации */
	transition-duration: 0.5s;        /* Длительность анимации */
  }
  

/****************************************************************************************
 *                                                                                      *
 *                                   Общие настройки для модулей                        *
 *                                                                                      *
 ****************************************************************************************/

  #wireplumber,
  #network,
	#clock,
  #language,
	#tray,
  #power-profiles-daemon,
  #custom-swaync,
	#custom-power,
	#custom-apps,
	#taskbar
  	{

 border-radius: 1rem;              /* Скругление углов */
    font-family: 'Neuropol','JetBrainsMono NF';     /* Шрифт  */
    font-size: 1.5rem;              /* Используем rem для размера шрифта */
    margin: 0.5rem 0.3rem;          /* Внешние отступы также в rem */
    padding: 0.2rem 2rem 0rem 2rem;              /* Внутренние отступы */
    transition: all 0.3s ease;      /* Плавный переход */
    background-color: #26263f;  
    font-weight: bold; 
    box-shadow: none; 
    color: #00ffcc; 
}
  
/****************************************************************************************
 *                                                                                      *
 *                                     РАБОЧИЕ ПРОСТРАНСТВА                             *
 *                                                                                      *
 ****************************************************************************************/

#workspaces { /* Стили для секции workspaces (рабочие пространства) */      
  font-family: 'Neuropol','JetBrainsMono NF';
}

#workspaces button label {  /* Стили для label внутри кнопок рабочих пространств */
  font-size: 1.3rem;   
}

#workspaces button {   /* Стили для кнопок рабочих пространств */
font-weight: bold;

font-size: 2.5rem; 
margin: 0.5rem 0.3rem;   
padding: 0rem 1.1rem;       /* Внешние отступы */    
border-radius: 1rem;              /* Скругление углов */

background-color: #26263f;    /* Цвет фона */
color: #00ffcc;           /* Цвет текста */
}


#workspaces button.active {   /* Стили для активной кнопки рабочего пространства */
color: #280a6d;                /* Цвет текста */
background-color: #d6d6a5;     /* Цвет фона */
}

#workspaces button:hover {   /* Стили для кнопок рабочих пространств при наведении */
box-shadow: inherit;           /* Наследование тени */
text-shadow: inherit;          /* Наследование тени текста */
color: #280a6d;                 /* Цвет текста */
background-color: #d6d6a5;    /* Цвет фона */
}
	
#workspaces button.urgent {  /* Стили для срочной кнопки рабочего пространства */
background-color: #b2284f;     /* Цвет фона */
}
  
  
/****************************************************************************************
 *                                                                                      *
 *                                     Часы                                             *
 *                                                                                      *
 ****************************************************************************************/

 #clock {
  font-family: 'Neuropol'; 
  

}







/****************************************************************************************
 *                                                                                      *
 *                                   ПАНЕЛЬ ЗАДАЧ                                       *
 *                                                                                      *
 ****************************************************************************************/

 #taskbar {
margin: 0.5rem 0rem 0.5rem 12rem;
background-color: transparent; 

}



/****************************************************************************************
 *                                                                                      *
 *                                     ЯЗЫК ВВОДА                                       *
 *                                                                                      *
 ****************************************************************************************/

 #language {
  border-radius: 1rem 0rem 0rem 1rem;              /* Скругление углов */
  margin: 0.5rem 0rem;
  padding: 0.3rem 0rem 0rem 1.5rem;              /* Внутренние отступы */

}



/****************************************************************************************
 *                                                                                      *
 *                                     Уведомления                                      *
 *                                                                                      *
 ****************************************************************************************/

#custom-swaync {
	color: #00ffcc;  /* Цвет текста иконки SwayNC */
  border-radius: 0rem 1rem 1rem 0rem;              /* Скругление углов */
  margin: 0.5rem 1rem 0.5rem 0rem;
  padding: 0rem 2rem 0rem 1rem;              /* Внутренние отступы */
}

#custom-swaync.notification {
  background-color: #e20b20;  /* Цвет фона иконки SwayNC при наличии уведомлений */
  color: #ffffff;  /* Цвет текста при наличии уведомлений */
  animation: blink 1s infinite;  /* Анимация для мигания */
  border-radius: 0rem 1rem 1rem 0rem;              /* Скругление углов */
  margin: 0.5rem 1rem 0.5rem 0rem;
  padding: 0rem 2rem 0rem 1rem;              /* Внутренние отступы */
}

@keyframes blink {
  0% { opacity: 1; }  /* Начало анимации, полная видимость */
  50% { opacity: 0.3; }  /* Середина анимации, уменьшенная видимость */
  100% { opacity: 1; }  /* Конец анимации, полная видимость */
}



/****************************************************************************************
 *                                                                                      *
 *                                   ВИДЖЕТ ЗВУКА                                       *
 *                                                                                      *
 ****************************************************************************************/

#wireplumber {
  border-radius: 0rem;              /* Скругление углов */
  margin: 0.5rem 0rem;
  padding: 0rem 1.1rem 0rem 1rem;              /* Внутренние отступы */
}

 

/****************************************************************************************
 *                                                                                      *
 *                                     Модуль питания                                   *
 *                                                                                      *
 ****************************************************************************************/

 #power-profiles-daemon {
  border-radius: 0rem;              /* Скругление углов */
  margin: 0.5rem 0rem 0.5rem 0rem;
  padding: 0rem 1.5rem 0rem 0rem;              /* Внутренние отступы */  
  
  }
  



/****************************************************************************************
 *                                                                                      *
 *                                     ТРЕЙ                                             *
 *                                                                                      *
 ****************************************************************************************/

 #tray {
	box-shadow: none;          /* Убираем тень */	 
  margin: 0.5rem 1rem;
  
}
 


/****************************************************************************************
 *                                                                                      *
 *                                     Кнопка выключения                                *
 *                                                                                      *
 ****************************************************************************************/

 #custom-power {
  color: #fc1212;
  margin: 0.5rem 1rem 0.5rem 1rem;
  }
  